.step-item {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0;
  padding: 16px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    border-color: #40a9ff;

    .action-bar {
      opacity: 1;
    }
  }

  &.step-item-selected {
    background: #e6f7ff;
    border-left: 3px solid #1890ff;

    .action-bar {
      opacity: 1;
    }
  }
}

.expected-results-container {
  margin-top: 12px;
  border: 2px solid #ffa940;
  border-radius: 6px;
  padding: 12px;
  background: #fff;
}

.expected-results-header {
  font-size: 11px;
  color: #8c8c8c;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: #fafafa;
  padding: 12px 16px;
  margin: -12px -12px 0px -12px;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 10px;
}

.add-verification-btn {
  margin-top: 8px;
  padding: 4px 15px;
  font-size: 13px;
  border-color: #1890ff;
  color: #1890ff;
  background: #fff;
  height: auto;

  &:hover {
    border-color: #40a9ff;
    color: #40a9ff;
    background: #fff;
  }

  &:focus {
    border-color: #40a9ff;
    color: #40a9ff;
    background: #fff;
  }

  &:active {
    border-color: #1890ff;
    color: #1890ff;
    background: #fff;
  }
}
