* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f0f2f5;
}

/* Ant Design Overrides */
.ant-layout {
  background: #fff;
}

.ant-layout-sider {
  background: #fff;
}

.ant-layout-header {
  background: #fff;
  padding: 0;
  height: auto;
  line-height: normal;
}

.ant-layout-content {
  background: #fff;
}
