.icon-button {
  @include size(20px);
  min-width: 20px;
  padding: 0;
  @include flex-center;
  font-size: var(--font-size-xs);
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  &:focus,
  &:active,
  &:focus-visible {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  &::after {
    display: none !important;
  }
}
