.system-component-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// Reuse existing styles from Scope/Impact
.scope-tab,
.impact-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scope-content,
.impact-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
